* {
   margin: 0;
}

html, body, #root {
   height: 100%;
   width: 100%;
}

#root {
   display: flex;
   justify-content: center;
   align-items: center;
}

:root {
   --dark-color: #111111;
   --light-color: #eeeeee;
}

@media (prefers-color-scheme: light) {
   body {
      background-color: var(--light-color);
      color: var(--dark-color);
   }
}

@media (prefers-color-scheme: dark) {
   body {
      background-color: var(--dark-color);
      color: var(--light-color);
   }
}