* {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
   cursor: pointer;
}

html,
body,
#root {
   height: 100%;
   width: 100%;
}

#root {
   display: flex;
   justify-content: center;
   align-items: center;
}

:root {
   --dark-color_a: #111111;
   --dark-color_b: #222222;
   --light-color_a: #eeeeee;
   --light-color_b: #dddddd;
   --padding-s: 8px;
}

@media (prefers-color-scheme: light) {
   body {
      background-color: var(--light-color_a);
      color: var(--dark-color_a);
   }

   .insp__button {
      color: var(--dark-color_a);
      fill: var(--dark-color_a);
   }

   .insp__button:hover {
      background-color: var(--light-color_b);
   }

   .insp__side-nav {
      background-color: var(--light-color_b);
   }
}

@media (prefers-color-scheme: dark) {
   body {
      background-color: var(--dark-color_a);
      color: var(--light-color_a);
   }

   .insp__button {
      color: var(--light-color_a);
      fill: var(--light-color_a);
   }

   .insp__button:hover {
      background-color: var(--dark-color_b);
   }

   .insp__side-nav {
      background-color: var(--dark-color_b);
   }
}

.insp__menu-button {
   position: absolute;
   top: var(--padding-s);
   right: var(--padding-s);
}

.insp__button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 48px;
   height: 48px;
   font-size: 32px;
   background-color: transparent;
   outline: 0;
   border: 0;
   border-radius: 50%;
}

.insp__input-container {
   display: flex;
   margin-top: var(--padding-s);
}

.insp__birthday-input {
   flex: 1;
   margin-right: var(--padding-s);
}

.insp__birthday-timer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.insp__age-title, .insp__age-seconds {
   font-size: 48px;
}

.insp__age {
   font-size: 96px;
}

.insp__age-line {
   display: flex;
   align-items: baseline;
   justify-content: center;
}

.insp__side-nav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   right: 0;
   overflow-x: hidden;
   transition: .5s;
}

.insp__settings {
   padding: var(--padding-s);
}

.insp__settings-block {
   white-space: nowrap;
   display: flex;
   align-items: center;
   width: 100%;
}

#birthday-timer-container {
   transition: margin-right .5s;
}